body {
    font-family: "Noto Sans", sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1em 1em 0 1em;
}

.search-container {
    display: flex;
    align-items: center;
    position: relative;

}

.search-icon {
    font-size: 24px;
    border: none;
    background: none;
    cursor: pointer;
}

.search-bar {
    display: none;
    border: 1px solid #ccc;
    padding: 0.5em;
    width: 200px;
    margin-left: 0.5em;
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
}

.search-bar.active {
    display: block;
}

.search-button {
    display: none;
    margin-left: 0.5em;
    padding: 0.5em;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 240px;
    transform: translateY(-50%);
}

.search-button.active {
    display: block;
}

.head-line {
    margin-top: 1em;
    display: flex;
    justify-content: center;
}

.head-line svg {
    width: 430px;
}

.menus {
    margin-top: 1em;
    padding: 1vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-top: 1px solid #ebebeb;
    border-bottom: 4px double black;
}

.menus button {
    border: none;
    background: none;
    margin: 3px 20px;
}

.menus button:hover {
    color: gray;
}

.toggleMenu .hamburger {
    display: none;
    font-size: 24px;
    border: none;
    background: none;
    cursor: pointer;
}

.side-menu {
    display: none;
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100%;
    background-color: white;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    padding: 1em;
    z-index: 1000;
    flex-direction: column;
    transition: right 0.3s ease;
}

.side-menu.active {
    right: 0;
}

.close-btn {
    font-size: 24px;
    border: none;
    background: none;
    cursor: pointer;
    align-self: flex-end;
}

.news-img-size {
    width: 100%;
    height: 250px;
    margin-right: 1em;
    text-align: center;
    object-fit: cover;
}

.news {
    display: flex;
    padding: 1em;
    border-bottom: 2px solid black;
}

.news .col-lg-8 {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 20pt;
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-top: 2em;
}

.news-source {
    margin-top: auto;
    align-self: flex-start;
}

@media (max-width: 768px) {
    .toggleMenu .hamburger {
        display: block;
    }

    .menus {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .menus.active {
        display: flex;
    }

    .side-menu {
        width: 200px;
        padding: 0.5em;
        right: -200px;
    }

    .side-menu.active {
        right: 0;
    }

    .side-menu button {
        font-size: 14px;
        padding: 8px 15px;
    }
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination .page-item {
    margin: 0 5px;
}

.pagination .page-link {
    color: #454646;
    border: 1px solid #dee2e6;
    padding: 10px 15px;
    text-decoration: none;
}

.pagination .page-link:hover {
    background-color: #f8f9fa;
    border-color: #dee2e6;
    text-decoration: none;
    color: #0056b3;
}

.pagination .page-item.active .page-link {
    background-color: #007bff;
    border-color: #007bff;
    color: white;
}

.pagination .page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    background-color: #fff;
    border-color: #dee2e6;
}